#### **<code style="color: orange;"> 1. Sets in Python</code>**

- Set is a collection which is unordered and *unchangeable. Duplicate members not allowed.
- Sets are used to store multiple items in a single variable.
- len()
- type()
- set()

In [1]:
set1 = {}
print(set1)
print(type(set1))

{}
<class 'dict'>

In [2]:
set2 = {1, 2, 3, 4, 5}
print(set2)
print(type(set2))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
# Duplicate elements are not allowed in set
set2.add(6)
print(set2)

{1, 2, 3, 4, 5, 6}

In [6]:
print(len(set2))

6

#### **<code style="color: orange;"> 2. Access Set Items</code>**

In [8]:
set1 = {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [9]:
for x in set1:
    print(x)

1
2
3
4
5

#### **<code style="color: orange;"> 3. Add Set Items</code>**

- add()
- update()

In [10]:
set1 =  {1, 2, 3, 4, 5}
print(set1)

{1, 2, 3, 4, 5}

In [11]:
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [14]:
list1 = [7, 8, 9]
tuple1 = (10, 11, 12)
set2 = {13, 14, 15}
set1.update(list1)
print(set1)
set1.update(tuple1)
print(set1)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

#### **<code style="color: orange;"> 4. Remove Set Items</code>**

- remove()
- discard()
- clear()
- del

In [15]:
set1 = {"apple", "banana", "cherry"}
print(set1)

{'apple', 'banana', 'cherry'}

In [16]:
set1.remove("banana")
print(set1)

{'apple', 'cherry'}

In [19]:
set1.discard("cherry")
print(set1)

{'apple'}

In [20]:
set1.clear()
print(set1)

set()

In [21]:
del set1
print(set1)

NameError: name 'set1' is not defined

#### **<code style="color: orange;"> 5. Loop Sets</code>**

In [22]:
set1 = {1, 2, 3, 4, 5}
for x in set1:
    print(x)

1
2
3
4
5

#### **<code style="color: orange;"> 6. Join Sets</code>** **[Home Work]**

- union()
- intersection()
- difference()
- symmetric_difference()

#### **<code style="color: orange;"> 7. Sets Methods</code>**

**Official documentation:** https://docs.python.org/3/tutorial/datastructures.html#sets